.header {
    background-color: black;
    height: 62px;
    display: flex;
    justify-content: end;
}

.iconMovies {
    height: 45px;
    margin: auto;
}

.info_Search {
    margin-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.info_Search:hover {
    background-color: rgb(235, 227, 227);
}

.header-container01 {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.input-search-history {
    margin-top: 300px !important;
    background-color: white;
    border-radius: 20px;
    min-width: 535px;
    position: absolute;
    cursor: pointer;
    border: 2px solid black;
}

.header-container02 {
    position: relative;
    margin-right: 30px !important;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 100px !important;
}

.input-search{
    width: 500px;
    height: 30px;
    padding-left: 30px;
    border-radius: 10px;
    text-align: left;
    background-color: aliceblue;
    border: none;
}

.button-login {
    margin-top: 10px;
    margin-left: 50px;
    align-items: center;
    /* background-color: #0a84ff; */
    background-image: linear-gradient(to right, #4CA9DF, #292E91);
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    transform: translateY(-5px); 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-login:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px
}
.input-icon-user {
  font-size: 15px;
  margin-right: 5px;
}


@media (max-width: 430px) {

    .header-container01 {
        margin-right: 10px;
        display: flex;
        justify-content: center;
    }
    
    .header-container02 {
        margin-right: 15px !important;
        height: 100%;
        align-items: center;

    }
    .input-search {
        width: 80%;
    }

    .iconMovies {
        padding-left: 30px;
        width: 50px;
        height: 20px;
    }

    .input-icon-user {
        font-size: 15px;
    }

    .textLogin {
        display: none;
    }

    .input-search-history {
        min-width: 150px;
        margin-top: 270px !important;
    }
    
    .info_Search {
        margin-left: 5px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
    
    .info_Search:hover {
        
    }
      
  }