.footer {
    background-color: #1d1d1e;
    height: 400px;
}

.color-text {
    color: white;
    margin-left: 20px;
    /* margin-top: 60px; */
}

.text-01 {
    /* background-color: red; */
    padding-top: 50px;
}

.icon-mxh {
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.icon-mxh:hover {
    color: red;
}

.text-last {
    padding-bottom: 20px;
    border-bottom: 2px solid red;
}


.icon-Footer {
    /* background-color: rgb(10, 10, 10); */
    border-bottom: 5px solid white ;
    padding-bottom: 20px;
    margin-right: 50px;
    width: 280px;
}

.text-footer {
    margin-left: 50px;
    color: white;
}

.div-footer02 {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 430px) {
    .icon-Footer {
        width: 100px;
        border-bottom: 5px solid white ;
        padding-bottom: 20px;
        margin-right: 50px;
    }

    .icon-mxh {
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }

    .color-text {
        font-size: 12px;
    }

    .footer {
        background-color: #1d1d1e;
        height: 200px;
    }


    .text-footer {
        display: none;
    }
    
}